.close {
    -fx-background-color: transparent;
    -fx-cursor: hand;
}
.close:hover {
    -fx-background-color: #d61a33;
}

.left-form {
    -fx-background-color: linear-gradient(to bottom right, #1c4bb8, #96cbf2);
    -fx-border-color: #000;
    -fx-border-width: .4px 0px .4px .4px;
}

.right-form {
    -fx-background-color: #fff;
    -fx-border-color: #000;
    -fx-border-width: .4px 4px .4px .0px;
}

.textfield {
    -fx-background-color: linear-gradient(to bottom, #efefef, #eee);
    -fx-background-radius: 4px;
    -fx-border-color: #000;
    -fx-border-width: .4px;
    -fx-border-radius: 4px;
    -fx-font-size: 13px;
    -fx-font-family: "Arial";
}
.textfield:focused {
    -fx-background-color: #fff;
    -fx-border-width: .8px;
    -fx-border-color: linear-gradient(to bottom right, #1c4bb8, #96cbf2);
}

.login-btn {
    -fx-background-color: #5d6cf0;
    -fx-background-radius: 5px;
    -fx-text-fill: #fff;
    -fx-font-size: 14px;
    -fx-font-family: "Arial";
    -fx-cursor: hand;
}
.login-btn:hover {
    -fx-background-color: #789be4;
}