.root {
    -fx-background-color: #383838;
    -fx-font-size: 24
}

.label {
    -fx-text-fill: #F0FFFF;
}

.label-blue {
    -fx-text-fill: #6495ED;
}
.label-blue:hover {
    -fx-text-fill: red;
}

#label-bold {
    -fx-font-weight: bold;
}